.form {
    /* display: block; */
    max-width: 350px;
    background-color: #edeeee;
    padding: 32px;
    border-radius: 1em;
  }
  h2 {
      color:blue;
      
  }
  .form_header {
     padding-left: 60px
  }
/* .form_model {
    padding: 120px 500px;
} */
.button_submit {
  float: right;
}
.header-nav {
  margin-left: 900px;
}
 .loader-set {
  margin-top: 200px;
  margin-left: 700px;
 }
 .error-set {
  margin-top: 200px;
  margin-left: 700px;
  font-size: 2em;
 }
  
  
  
  
  @media all and (min-width: 480px) {
      .form_model {
        padding: 120px 600px;
      }
    
     
    }